.skew-rectangle {
  -webkit-clip-path: polygon(0 30%, 100% 0, 100% 70%, 0% 100%);
  clip-path: polygon(0 30%, 100% 0, 100% 70%, 0% 100%);
  padding-top: 5%; }

.triangle {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  text-align: center; }

.right-triangle {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%); }

.box-traingle-bottom {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 60% 30%, 50% 65%, 40% 30%, 0 30%);
  clip-path: polygon(0 0, 100% 0, 100% 30%, 60% 30%, 50% 65%, 40% 30%, 0 30%); }

.square {
  text-align: center;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }

.rhomboid {
  text-align: center;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }

.hexagon {
  text-align: center;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }

.nonagon {
  text-align: center;
  -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); }

.trapezoid {
  text-align: center;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); }

.left-trapezoid {
  -webkit-clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%); }

.right-trapezoid {
  text-align: center;
  -webkit-clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%); }

.pentagon {
  text-align: center;
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); }

.heptagon {
  text-align: center;
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%); }

.octagon {
  text-align: center;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); }

.nonagon {
  text-align: center;
  -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); }

.kite {
  text-align: center;
  -webkit-clip-path: polygon(50% 0, 100% 29%, 50% 100%, 0 30%);
  clip-path: polygon(50% 0, 100% 29%, 50% 100%, 0 30%); }

.bevel {
  text-align: center;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); }

.rabbet {
  text-align: center;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); }

.left-arrow {
  text-align: right;
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%); }

.right-arrow {
  text-align: left;
  -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); }

.bottom-arrow {
  text-align: center;
  -webkit-clip-path: polygon(0 50%, 50% 100%, 100% 50%, 70% 50%, 71% 0, 30% 0, 30% 50%);
  clip-path: polygon(0 50%, 50% 100%, 100% 50%, 70% 50%, 71% 0, 30% 0, 30% 50%); }

.left-point {
  text-align: right;
  -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%); }

.right-point {
  text-align: left;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); }

.left-arrow-point {
  -webkit-clip-path: polygon(100% 0%, 0% 50%, 100% 100%, 50% 50%);
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%, 50% 50%); }

.right-arrow-point {
  -webkit-clip-path: polygon(50% 50%, 0 100%, 100% 50%, 0 0);
  clip-path: polygon(50% 50%, 0 100%, 100% 50%, 0 0); }

.left-chevron {
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); }

.right-chevron {
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); }

.star {
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }

.christ-cross {
  -webkit-clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
  clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%); }

.message {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); }

.close {
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); }

.plus {
  -webkit-clip-path: polygon(35% 0, 35% 35%, 0 35%, 0 65%, 35% 65%, 35% 100%, 65% 100%, 65% 65%, 100% 65%, 100% 35%, 65% 35%, 65% 0);
  clip-path: polygon(35% 0, 35% 35%, 0 35%, 0 65%, 35% 65%, 35% 100%, 65% 100%, 65% 65%, 100% 65%, 100% 35%, 65% 35%, 65% 0); }

.v-shape {
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0%, 70% 0, 50% 50%, 30% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0%, 70% 0, 50% 50%, 30% 0); }

.circle {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); }
